#container {
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form {
  padding: 10px;
  width: 46vw;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#pokemonForm{
  background-color: #ee5250;
}
#covidForm{
  background-color: #31347a;
}
#placeholderForm{
  background-color: #2c2d2c;
}
form label{
  color: white;
}
form button,
form input {
  min-width: 80px;
}
form button {
  background-color: white;
}

.info {
  border: 1px solid black;
  box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
  padding: 12px 10px;
}
#content{
  width: 46vw;
  text-align: center;
  border-collapse: collapse;
}
#content th, #content td{
  border-collapse: collapse;
  border: 1px solid lightgray;
}
#content td:nth-child(3), #content td:nth-child(4){
  max-width: 16vw;
}