#container {
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form {
  padding: 10px;
  width: 40vw;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#pokemonForm{
  background-color: #ee5250;
}
#covidForm{
  background-color: #31347a;
}
#placeholderForm{
  background-color: #2c2d2c;
}
form label{
  color: white;
}
form button,
form input {
  min-width: 100px;
}

form button {
  background-color: white;
}

#content {
  border: 1px solid black;
  box-shadow: 10px 10px 5px 0px rgba(199,199,199,1);
  width: 40vw;
  min-height: 10vh;
  text-align: center;
}